[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/unarto/hev-socks5-tunnel
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2.git
